<html>
<head>
<style>
body {background-color: lightgrey;}
</style>
</head>
<body>

<h1>About Us</h1>
<p>
<%= link_to  "Home", welcome_index_path %>
<%= link_to  "Services", welcome_services_path %>
<%= link_to  "Pricing", welcome_pricing_path %>
<%= link_to  "About", welcome_about_path %>
<%= link_to  "Contact", welcome_contact_path %>
</p>
<p>Xtreme Jeep Mods was started by Brent Kinney in 2020.  We specialize in modifying Jeep Wranglers to make them ready for off-road <br>
trails and help make each one unique. Jeeps have always been a part of Brent's life, starting with his Dad's 1980 CJ7 that he would go camping in <br>
and later, would rock crawl in before finally getting his own Jeep.</p>

<p>We strive for excellence with our builds and stand by our service.</p>

<%=image_tag("CharlieTrailhead.jpg",:alt => "Trailhead Image Not Found",:size => "900x750") %>

</body>
</html>
