<h1>Welcome to Xtreme Jeep Mods!</h1>
<p>
<%= link_to  "Home", welcome_index_path %>
<%= link_to  "Services", welcome_services_path %>
<%= link_to  "Pricing", welcome_pricing_path %>
<%= link_to  "About", welcome_about_path %>
<%= link_to  "Contact", welcome_contact_path %>
</p>
<p>We specialize in Jeep Wrangler modifications to make your rig ready for off-road trails.
There are a number of aftermarket Jeep parts that can help your Jeep become trail ready or 
stand out from other rigs. <br>To get started you can view mods from Extreme Terrain: <a href="https://www.extremeterrain.com/"> Here</a>
Or from 4 Wheel Drive: <a href="https://www.4wd.com/"> Here</a> </p>
<%=image_tag("WelcomeJeep.jpg",:alt => "Welcome Jeep Image Not Found",:size => "900x750") %>