<html>
<head>
<style>
body {background-color: lightgrey;}
</style>
</head>
<body>

<h1>Pricing</h1>
<p>
<%= link_to  "Home", welcome_index_path %>
<%= link_to  "Services", welcome_services_path %>
<%= link_to  "Pricing", welcome_pricing_path %>
<%= link_to  "About", welcome_about_path %>
<%= link_to  "Contact", welcome_contact_path %>
</p>
<p>We believe in straight-forward, simple pricing. We charge an hourly labor rate for installs plus the cost of any parts that are needed.<br>
If you provide the part yourself, you only pay the labor hours for the installation. Labor hours required depends on the type of installation<br> 
and the aftermarket modification chosen. Some aftermarket parts require cutting or drilling for installation and require significant more labor<br>
to install than bolt on modifications. Below is our hourly rate as well as some typical hours required to install mods of differnt types.
</p>
<p>
Please contact us for a more accurate quote for the modifications you have chosen.
</p>
<p>
</p>

<h3>Labor Rate - $125/hour </h3>
<p>Bumpers - 1-2hrs each, + 1 hr to include winch </p>
<p>Rock Rails - 2-3 hrs </p>
<p>Skid Plates - 3-4 hrs </p>
<p>Lift Kits - 6-10 hrs </p>
<p>CB Radio - 1-2 hrs </p>
<p>Interior Security and Storage - 2-4 hrs </p>


</body>
</html>
