<html>
<head>
<style>
*  {
    box-sizing:border-box;
}
body {background-color: lightgrey;}
.column{
    float:left;
    width:50%;
    padding:10px;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
</style>
</head>
<body>
<h1>Services</h1>
<p>
<%= link_to  "Home", welcome_index_path %>
<%= link_to  "Services", welcome_services_path %>
<%= link_to  "Pricing", welcome_pricing_path %>
<%= link_to  "About", welcome_about_path %>
<%= link_to  "Contact", welcome_contact_path %>
</p>
<div class="row">
    <div class="column">
        <h2>Exterior Mods<h2>
        <h3>Lift Kits</h3>
        <p><%=image_tag("LiftKit.jpg",:alt => "LiftKit Image Not Found",:size => "900x750") %></p>
        <h3>Bumper and Winches</h3>
        <p><%=image_tag("Bumper.jpg",:alt => "Bumper Image Not Found",:size => "900x750") %></p>
        <h3>Rock Rails</h3>
        <p><%=image_tag("RockRails.jpg",:alt => "Rock Rails Image Not Found",:size => "900x750") %></p>
        <h3>Skid Plates and Armor</h3>
        <p><%=image_tag("SkidPlate.jpg",:alt => "Trailhead Image Not Found",:size => "900x750") %></p>
    </div>
    <div class="column">
        <h2>Interior Mods<h2>
        <h3>CB Radios</h3>    
        <p><%=image_tag("CBRadio.jpg",:alt => "CB Radio Image Not Found",:size => "900x750") %></p>
        <h3>Security and Storage</h3>
        <p><%=image_tag("Security.jpg",:alt => "Security Image Not Found",:size => "900x750") %></p>
        <h3>Seat Covers</h3>
        <p><%=image_tag("Seatcovers.jpg",:alt => "Seat Cover Image Not Found",:size => "900x750") %></p>
    </div>
</div>

</body>
</html>
